// Typography
$font__main: Helvetica, Arial, sans-serif;
$font__line-height-body: 1.5;

// Colors
$color__primary: #ef5b34;
$color__secondary: #6c6c6c;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ef5b34;
$color__link-visited: #ef5b34;
$color__link-hover: #ef5b34;
$color__text-main: #6c6c6c;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;